/* src/components/Header.css */
.header {
  background-color: #33333344;
  padding: 20px;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 600px) {
  .header nav ul {
    flex-direction: column;
  }
}

  